{% extends 'firstapp/adminmenu.html' %}


{% block content %}
  <form method="post" style="margin-left:453px;margin-bottom:43px; margin-top:155px;">
  <h2 style="margin-left:27px;">Admin Change Password</h2>

    {% csrf_token %}
    {{ form.non_field_errors }}
    <table style="margin:7px;padding: 8px;">
      <tr style="margin:7px;padding: 8px;">
        <td style="margin:7px;padding: 8px;">{{ form.admincurrent_password.label_tag }}</td>
        <td style="margin:7px;padding: 8px;">{{ form.admincurrent_password }}</td>
        <td style="margin:7px;padding: 8px;">{{ form.admincurrent_password.errors }}</td>
      </tr>
      <tr>
        <td style="margin:7px;padding: 8px;">{{ form.adminnew_password.label_tag }}</td>
        <td style="margin:7px;padding: 8px;">{{ form.adminnew_password }}</td>
        <td style="margin:7px;padding: 8px;">{{ form.adminnew_password.errors }}</td>
      </tr>
      <tr>
        <td style="margin:7px;padding: 8px;">{{ form.adminconfirm_password.label_tag }}</td>
        <td style="margin:7px;padding: 8px;">{{ form.adminconfirm_password }}</td>
        <td style="margin:7px;padding: 8px;">{{ form.adminconfirm_password.errors }}</td>
      </tr>
    </table>
    <button type="submit" style="padding: 4px 19px;margin-left:22px;margin-top:23px;background-color: red;color:white;font-weight:700;border-radius:7px;" type="submit">Change Password</button>
  </form>
{% endblock %}