{% extends 'firstapp/usermenu.html' %}
<style>
    button{
    border: 4px solid blue;
    }
</style>
{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table style="margin-left:283px;text-align:center;margin-top:112px;">
      <tr style="padding:8px; margin:9px;"><th style="padding:8px; margin:9px;">  <h2 style="text-align:center;margin-left:83px;">Change Password</h2>
</th></tr>
      <tr style="padding:8px; margin:9px;">
        <td style="padding:8px; margin:9px;">{{ form.current_password.label_tag }}</td>
        <td style="padding:8px; margin:9px;">{{ form.current_password }}</td>
        <td style="padding:8px; margin:9px;">{{ form.current_password.errors }}</td>
      </tr>
      <tr style="padding:8px; margin:9px;">
        <td style="padding:8px; margin:9px;">{{ form.new_password.label_tag }}</td>
        <td style="padding:8px; margin:9px;">{{ form.new_password }}</td>
        <td style="padding:8px; margin:9px;">{{ form.new_password.errors }}</td>
      </tr>
      <tr style="padding:8px; margin:9px;">
        <td style="padding:8px; margin:9px;">{{ form.confirm_password.label_tag }}</td>
        <td style="padding:8px; margin:9px;">{{ form.confirm_password }}</td>
        <td style="padding:8px; margin:9px;">{{ form.confirm_password.errors }}</td>
      </tr>
    </table>
    <button style= "margin-left:383px;margin-top: 33px;border:none;font-weight:800; padding: 6px 23px;border-radius:12px;background-color:red;color:white;" type="submit">Change Password</button>
  </form>
{% endblock %}