
<html>
<head><title>Forgot password form</title></head>
<body style="background-color:black;">

<div  style="margin-left:493px; margin-top:119px;  width: 40%;    padding: 10px;">
    <h3 style="color:red; margin-left:19px;"><p  class="p-3 mb-2 bg-primary text-white">FORGOT PASSWORD</p></h3>
<form method="POST" action="/firstapp/forgotpassword/" >
    {% csrf_token %}
    <table class="table">
       <tr >
            <td style="color:grey; padding:19px; font-weight: 600; font-size: 16px;">Email Id</td>
            <td><input style="padding: 6px; background-color:black; color: grey; border: 2px solid grey;border-radius:7px;" type="email" name="textemailid" required autofocus /></td>
        </tr>
         <tr >
            <td colspan="2"><input class="btn btn-primary" type="Submit"  style="padding:8px 18px; margin-left: 11px; font-weight:500; background-color: black; color:grey;border:2px solid grey; border-radius:11px;"/></td>
        </tr>

    </table>
</form>
     </div>
</div>
</body>

</html>

