<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> View Requests</title>
</head>
<body style="margin-left:283px;">
{% extends 'firstapp/adminmenu.html' %}
{% block content %}

<table >
    <tr><th><h2>Requests</h2></th></tr>
 <tr style="text-align:ce; margin:8px; padding: 7px;">

                        <th style="margin:9px;padding:7px;">User Code</th>
                        <th style="margin:9px;padding:7px;">Book Title</th>
                        <th style="margin:9px;padding:7px;">Book Genre</th>
                        <th style="margin:9px;padding:7px;">Author Name</th>
                        <th style="margin:9px;padding:7px;">Request date</th>
                    </tr>
 {% for item in r_obj %}
 <tr style="margin:9px;padding:7px;">
                            <td style="margin:9px;padding:7px;">{{item.usercode}}</td>
                            <td style="margin:9px;padding:7px;">{{item.bookname}}</td>
                            <td style="margin:9px;padding:7px;">{{item.bookgenre}}</td>
                            <td style="margin:9px;padding:7px;">{{item.authorname}}</td>
                            <td style="margin:9px;padding:7px;">{{item.requestdate}}</td>
 </tr>
{% endfor %}
    </table>
        {% endblock %}
</body>
</html>